os_region_name = "DE1"
os_tenant_id = "<projectID>"
os_user_name = "<username>"
os_password = "<password>"
os_auth_url = "https://auth.cloud.ovh.net/v2.0/"
os_flavor = "b2-7"
ovh_endpoint = "ovh-eu"
ovh_application_key = "<key>"
ovh_application_secret = "<secret>"
ovh_application_consumer_key = "<consumerkey>"
private_sshkey = "~/.ssh/id_rsa"
public_sshkey = "~/.ssh/id_rsa.pub"